/* En este archivo escriban su CSS */
/* El reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;}


 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

body{background-color: #fbfbfb;
  min-width: 360px;
   font-size: 18px;}


.foto-imagen {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;}


h1{font-size: 36px; 
    font-family: 'Lato', sans-serif; 
    font-weight: 700;}

p{font-size: 18px; 
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    line-height: 1.2;}

a {color: inherit;
   font-size: 20px; }

header{background-color: #fbfbfb; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
     z-index: 100;
    top:0;
    box-shadow: 1px; 4px; 6px;}
nav{ display: flex;}

section{padding: 10px;
        color: rgba(175,89,158, 0.3);
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: center}

.article{ font-size: 18px;
          position: center;}

h2{font-size: 28px; }

button{color:#af599e;
     font-size: 20px;
     padding: 10px;
     display:flex;
     flex-direction:column; 
     align-items: center;
     justify-content: center;}

footer{color:#af599e; 
       display: flex; 
       flex-direction: column; 
       align-items: center;
       justify-content: center}

  

/* Para quitar los puntos a los items de listas */
ul{ list-style: none;
    display: flex; /* Hacemos flex al ul */
    justify-content: center; /* centramos en el eje horizontal*/
    justify-content: space-evenly; /* Aplicamos separación a los elementos dentro del ul */
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden; width: 150% ;}


/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {text-decoration: none;
    color: inherit;}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {max-width: 1200px;
    margin: auto;
    display: flex; 
    padding: 10px;
    flex-direction: column; 
    align-items: center;
    justify-content: center}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
